<form class="listings-filters" [formGroup]="filterForm">
  <div class="listings-filters__top-row">
    <p class="listings-filters__intro">
      {{ 'listings.filters.intro' | translate }}
    </p>
    <p-button
      type="button"
      [text]="true"
      icon="pi pi-filter-slash"
      [label]="'listings.filters.clear' | translate"
      (onClick)="clearFilters()"
    />
  </div>

  <div class="listings-filters__field">
    <span class="listings-filters__label">
      {{ 'listings.filters.quickCategories' | translate }}
    </span>
    <div class="listings-filters__chips">
      @for (category of quickCategories; track category.id) {
        <p-button
          type="button"
          size="small"
          [text]="filterForm.controls.categoryId.value !== category.id"
          [outlined]="filterForm.controls.categoryId.value !== category.id"
          [label]="category.labelKey | translate"
          (onClick)="applyQuickCategory(category.id)"
        />
      }
    </div>
  </div>

  <div class="listings-filters__field">
    <label class="listings-filters__label" for="listings-filter-city">
      {{ 'listings.filters.city' | translate }}
    </label>
    <input
      pInputText
      class="listings-filters__input"
      id="listings-filter-city"
      type="text"
      formControlName="city"
      [placeholder]="'listings.filters.cityPlaceholder' | translate"
      autocomplete="address-level2"
    />
  </div>

  <div class="listings-filters__field">
    <label class="listings-filters__label" for="listings-filter-category">
      {{ 'listings.filters.categoryId' | translate }}
    </label>
    <input
      pInputText
      class="listings-filters__input"
      id="listings-filter-category"
      type="text"
      formControlName="categoryId"
      [placeholder]="'listings.filters.categoryPlaceholder' | translate"
      autocomplete="off"
    />
    <small class="listings-filters__hint">
      {{ 'listings.filters.categoryHint' | translate }}
    </small>
  </div>

  <div class="listings-filters__row">
    <div class="listings-filters__field">
      <label class="listings-filters__label" for="listings-filter-min-price">
        {{ 'listings.filters.minPrice' | translate }}
      </label>
      <p-inputNumber
        inputId="listings-filter-min-price"
        formControlName="minPrice"
        mode="decimal"
        [minFractionDigits]="0"
        [maxFractionDigits]="2"
        [useGrouping]="true"
        [placeholder]="'listings.filters.minPricePlaceholder' | translate"
        styleClass="listings-filters__input"
      />
    </div>

    <div class="listings-filters__field">
      <label class="listings-filters__label" for="listings-filter-max-price">
        {{ 'listings.filters.maxPrice' | translate }}
      </label>
      <p-inputNumber
        inputId="listings-filter-max-price"
        formControlName="maxPrice"
        mode="decimal"
        [minFractionDigits]="0"
        [maxFractionDigits]="2"
        [useGrouping]="true"
        [placeholder]="'listings.filters.maxPricePlaceholder' | translate"
        styleClass="listings-filters__input"
      />
    </div>
  </div>
</form>
